<button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
</button>



<h1 id="heading">My Orders</h1>

<div class="container">
    <h2 *ngIf="!orderList || orderList.length ==0" class="text-center">No Orders has been placed yet</h2>
    <div *ngFor="let a of orderList;">
        <div class="card w-60 mb-3">
            <div class="card-body m-0" (click)="gotoDetails(a.orderId)">
                <div style="display: inline-block;">
                    <h3 class="card-text">order ID :<span>{{a.orderId}}</span></h3>

                    <h2 class="card-title">Order Placed</h2>
                    <p> will be delivererd soon</p>
                </div>
                <img src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/34-512.png"
                    style="height: 50px; width: 50px;  display: inline-block;" class="rounded float-end" alt="">
            </div>
        </div>

    </div>
</div>