<!-- <footer class="footer">
  <div class="container-fluid">
    <div class="footer-content">
      <div class="footer-column">
        <h3 class="footer-heading">Download Our Mobile App</h3>
        <div class="app-links me-5">
          <a href="#" class="app-link "><img
              src="https://uploads-ssl.webflow.com/5b4a11e42d24ef65774660bb/5e7f8ad0dc544571a7ed6923_AppStore_Icon.png"
              alt="App Store" style="width: 200px;height: 80px;"></a>
          <a href="#" class="app-link mt-3"><img
              src="https://cdn.freebiesupply.com/logos/large/2x/google-play-store-logo-png-transparent.png"
              alt="Play Store" style="width: 40px;height: 40px;"></a>
        </div>
      </div>
      <div class="footer-column ms-5">
        <h3 class="footer-heading">Follow Us</h3>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <p class="footer-text">© 2023 Your Foodie Delivery App. All rights reserved.</p>
  </div>
</footer> -->
<div>
  <footer class="footer">
    <div class="container">
      <div class="row ">
        <div class="col text-start">
          <h4 class="footer-heading">Contact Us</h4>
          <p><i class="fa-solid fa-phone Newicon"></i> &nbsp;&nbsp;Phone: 044-42612475/1800 3000 6448</p>
          <p><a href="mailto:foodie.niit@gmail.com Newicon"><i class="fa-solid fa-envelope-open-text Newicon"></i>
              &nbsp;&nbsp;Email:
              foodie.niit@gmail.com</a>
          </p>
          <p (click)="goToMap()"><i class="fa-solid fa-location-dot Newicon"></i>&nbsp;&nbsp;<span>Address: House No.
              137 , AC Block , 2nd
              Floor ,
              2nd
              Avenue , Anna Nagar-West , , Chennai </span></p>
        </div>
        <div class="col text-start ms-5">
          <h4 class="footer-heading">Our Services</h4>
          <ul>
            <li class="my-1">&nbsp;&nbsp;<a href="#">Food Delivery</a></li>
            <li class="my-1">&nbsp;&nbsp;<a href="#">Online Ordering</a></li>
            <li class="my-1">&nbsp;&nbsp;<a href="#">Table Reservations</a></li>
            <li class="my-1">&nbsp;&nbsp;<a href="#">Catering</a></li>
          </ul>
        </div>
        <div class="col d-flex-column">
          <div>
            <h4 class="footer-heading">Follow Us</h4>
            <div class="social-icons">
              <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
              <a href="#" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
              <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="mt-4">
            <h3 class="footer-heading">Download Our Mobile App</h3>
            <div class="app-links mx-5 ">
              <a href="#" class="app-link "><img
                  src="https://uploads-ssl.webflow.com/5b4a11e42d24ef65774660bb/5e7f8ad0dc544571a7ed6923_AppStore_Icon.png"
                  alt="App Store" style="width: 200px;height: 80px;"></a>
              <a href="#" class="app-link mt-3"><img
                  src="https://cdn.freebiesupply.com/logos/large/2x/google-play-store-logo-png-transparent.png"
                  alt="Play Store" style="width: 40px;height: 40px;"></a>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <p class="text-center">
            <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a> | &copy; 2023 Your Foodie Delivery App.
            All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>