.bg-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("https://th.bing.com/th/id/OIP.EMx74OjbH0Ql2eOH3rLv4QHaE7?pid=ImgDet&rs=1");

  opacity: 1;
}


.button2 {background-color:#e7e7e7; color: black;
  border-radius: 30px;} /* Blue */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
.card{
    width: 300px;
    margin-left: 100px;
    background-color: black;

    color: white;
}
.a{
    padding: 20px;
}
.button-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button-container button {
    margin: 5px;
  }

  @media (max-width: 600px) {
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  }
  /* .form-container {
    padding-top: 130px;
    display: flex;
    justify-content: center;
  }

  .card {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .form-group {
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    .form-container {
      padding-top: 50px;
    }

    .card {
      width: 90%;
    }
  } */
